#shipListBlock {
  position: absolute;
  z-index: 50;

  right: 4vw;

  width: 90vw;

  border-radius: 3px 3px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#shipListImg {
  width: 150px;
}

#shipListImg:hover {
  border: 2px solid white;
  width: 146px;
}

#block10 {
  width: 30px;
}

span {
  white-space: pre-line;

  color: white;
}

#bold {
  font-weight: bold;
}
