.defaulttimebar {
  position: absolute;

  left: 4vw;
  top: 70px;

  width: 1vw;

  border-radius: 3px 3px;
  background: rgb(203, 203, 203);

  height: 1000px;
}

#portfolioTitle {
  -webkit-touch-callout: none;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;

  position: fixed;
  z-index: 99;

  top: 0px;
  left: 0px;

  width: 100vw;
  height: 50px;

  background-color: #323232;

  color: white;
}

#gitLink2 {
  position: fixed;

  top: 50vh;
  left: 73vw;

  width: 100vh;
  height: 0vh;

  color: #828282;

  transform: rotate(-90deg);
}

p {
  text-align: center;
}

#toBeContinued {
  position: absolute;
  z-index: 20;

  height: 8vh;
  width: 120vw;
  background-color: #ffa500;

  top: 1710px;
  left: -20px;

  transform: rotate(2deg);

  color: black;
  font-size: 6vh;

  overflow: hidden;
}
