.profile-contianer {
  position: absolute;

  left: 10%;
  top: 60px;

  width: 80%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-img {
  position: absolute;
  top: 60px;

  width: 10%;

  left: 80%;
}

.profile-contianer .name {
  font-size: 28px;
  font-weight: bold;
}

.profile-contianer .role {
  font-size: 15px;
  color: gray;
}

.profile-contianer .block {
  width: 85%;
  height: 1px;
  background-color: #323232;

  margin-top: 8px;
  margin-bottom: 8px;
}
.profile-contianer .main-content {
  color: #323232;
  font-size: 23px;
}

.profile-contianer .stacks {
}
