.profile-contianer {
  position: absolute;

  left: 10%;
  top: 80px;

  width: 80%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-img {
  position: absolute;
  top: 85px;

  width: 10%;

  left: 80%;
}

.profile-contianer .name {
  font-size: 28px;
  font-weight: bold;
}

.profile-contianer .role {
  font-size: 15px;
  color: gray;
}

.profile-contianer .main-content {
  color: #323232;
  font-size: 23px;
}

.profile-contianer .stacks {
  width: 100%;
  display: flex;
  flex-direction: row;

  margin-top: 15px;
}

.profile-contianer .stack {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 90px;

  height: 27px;

  color: white;
  font-size: 14px;
  font-weight: bold;

  background-color: #323232;
  border: 2px solid #323232;

  border-radius: 3px;
  margin-right: 7px;
}

.profile-contianer .sub-stack {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 90px;

  height: 27px;

  color: #323232;
  font-size: 14px;
  font-weight: bold;

  background-color: white;
  border: 2px solid #323232;

  border-radius: 3px;
  margin-right: 7px;
}

.profile-contianer .sub-stack-small {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 90px;

  height: 27px;

  color: #323232;
  font-size: 10px;
  font-weight: bold;

  background-color: white;
  border: 2px solid #323232;

  border-radius: 3px;
  margin-right: 7px;
}
